@model Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department </h1>

<br />
<br />

@* action="/Department/Create" method="post" *@
<form asp-action="Create">


    <partial name="PartialViews/CreateEditDepartmentPartial" />

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class=" btn btn-light">Back To List </a>
</form>


@section ValidationScriptsSections {
    <partial name="_ValidationScriptsPartial" />
}