@model Employee
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>

<br />
<br />


<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="PartialViews/CreateEditEmployeePartial" />


    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>



@section ValidationScriptsSections {
    <partial name="_ValidationScriptsPartial" />
}